body {
    background: #eee;
    font-family: sans-serif;
  }
  
  .card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
  }
  
  .title {
    background: #e3f4ff;
    padding: 10px;
    border-top: 10px solid white;
    margin: 0px 10px 10px 10px;
    
  }
  
  .content {
    background: #e3f4ff;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    
  }
  
  .button-container {
    background: #e3f4ff;
    margin: 0px 10px 10px 10px;
    border-bottom: 10px solid white;
    text-align: center;
    padding: 10px;
  }
  
  button {
    background: white;
    border: 1px solid #eee;
    display: block;
    margin: 0 auto;

  }
  