body {
    background: #eee;
    font-family: sans-serif;
  }
  
  .card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
  }
  
  .title {
    background: #e3f4ff;
    padding: 10px;
    border-top: 5px solid white;
    margin-top: 0px 10px 10px 10px;
    
  }
  
  .content {
    background: #e3f4ff;
    padding: 10px;
    border: 5px solid white;
    
  }
  
  .button-container {
    background: #e3f4ff;
  }
  
  button {
    background: white;
    border: 1px solid #eee;
  }
  